body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#title, h1, h2 {
    text-align: center;
    padding: 0%;
    margin: 0%;
}

#cont {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    border: solid 7px black;
    border-radius: 3%;
}

.square {
    width: 40px;
    height: 40px;
}

.button {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: large;
    font-weight: bold;
}

.black {
    background-color: black;
}